#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:rgb(62, 218, 218);
  align-items: center;
}

.taskList{
  display: flex;

  align-items: center;
  box-shadow: 0 0 10px 5px;
  padding: 20px;

}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


 */

 *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
 }
 body{
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
 }

 ul{
  text-align: justify;
 }

 .checks
 {
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
 }

p {
  font-size: 15px;
}

 .container
 {
  padding: auto;
 background-color: rgb(102, 235, 235);
 gap: 50px;
  display: flex;
  align-items: center;
  width: 400px;
  height: 50px;
  box-shadow: black;
 }
 .terminada{
  text-decoration:line-through;
 }
 .buttons{
  display: flex;
  gap: 20px;
 }
 .button{
  color: rgb(17, 203, 216);
  background-color: black;
  width: 30px;
  align-items: center;
  padding: 10px;
  height: 40px;
 }
 .deleteButton{
  color: rgb(204, 49, 49);
  background-color: black;
  width: 30px;
  align-items: center;
  padding: 10px;
  height: 40px;
 }
 .icon{
  width: 10px;
  height: 10px;
 }
 h2{
  color: rgb(6, 118, 126);
  text-decoration: double;
 
 }
 h1, h2, h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

 }